<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p class="ion-text-center">Login</p>
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Nombre de Usuario"></ion-input>
  </div>
</ion-content>
